[Unit]
Description=Wireless Network Reset

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/python /opt/wifi-reset/wifi-reset.py

[Install]
WantedBy=multi-user.target
