[Unit]
Description=Wireless Network Reset

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/wifi-reset/wifi-reset.rb

[Install]
WantedBy=multi-user.target
